<script src="/socket.io/socket.io.js"></script>
<script src="/js/moment.js"></script>



<div class="hero-unit geddy-welcome-box">
  <h1>Sprinkler</h1>
  
  	<p>
	<button id="btn_both" class="btn btn-success btn-lg">
	  <span class="glyphicon glyphicon-play"></span> Garden &amp; Front
	</button>
	</p>

	<p>
	<button id="btn_front" class="btn btn-success btn-lg">
	  <span class="glyphicon glyphicon-play"></span>Front
	</button>
	</p>

	<p>
	<button id="btn_garden" class="btn btn-success btn-lg">
	  <span class="glyphicon glyphicon-play"></span>Garden
	</button>
	</p>


	<div id="stats">
		<!-- <p id="last_started">Last started: <span ></span></p> -->
		<p id="last_ended">Last run: <span ></span></p>
		<p id="auto_shutoff">Auto end: <span ></span></p>
	</div><!-- /stats -->

</div>



<script>

var updateInterval; // our status interval

// var socket = io.connect('http://localhost');
var socket = io.connect('http://192.168.1.13');



// the server will send back a response object
// use this as a sanity check
socket.on('response', function (data) {
	console.log("response", data);

	//handle both button
	if(data.garden_on && data.front_on){ // show off button
		$('#btn_both').html('<span class="glyphicon glyphicon-stop"></span> OFF');
		$('#btn_both').removeClass('btn-success');
		$('#btn_both').addClass('btn-danger');
		$('#btn_front').attr('disabled', "disabled");
		$('#btn_garden').attr('disabled', "disabled");
	}else{	// show on button
		$('#btn_both').html('<span class="glyphicon glyphicon-play"></span> Garden & Front');
		$('#btn_both').addClass('btn-success');
		$('#btn_both').removeClass('btn-danger');
		$('#btn_front').removeAttr('disabled');
		$('#btn_garden').removeAttr('disabled');
	}
	if(data.front_on){
		$('#btn_front').html('OFF');
	}else{
		$('#btn_front').html('Front');
	}
	if(data.garden_on){
		$('#btn_garden').html('OFF');
	}else{
		$('#btn_garden').html('Garden ');
	}


	// update status
	updateStatus(data);

});





// handle the press on the both button
$('#btn_both').click(function(e){
	e.preventDefault();
	socket.emit('action', { action: "toggle_both" });
});



$('#btn_front').click(function(e){
	e.preventDefault();
	socket.emit('action', { action: "front" });
});


$('#btn_garden').click(function(e){
	e.preventDefault();
	socket.emit('action', { action: "garden" });
});



function updateStatus(data){

	if(!data.currently_running){
		$("#auto_shutoff").hide();
	}else{
		$("#auto_shutoff").show();
	}

	// $("#last_started span").html(
	// 	moment(data.last_run_start_time).fromNow()
	// 	);
	$("#last_ended span").html(
		moment(data.last_run_end_time).fromNow()
		);
	$("#auto_shutoff span").html(
		moment(data.auto_shutoff).fromNow()
		);
}



updateInterval = setInterval(sendStatusRequest, 1000);


// check to see if we're currently running
// and the last time we ran, etc
function sendStatusRequest(){
	socket.emit('status', { });
}


// run for the first time
sendStatusRequest();





</script>



