<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <h1>Sprinkler</h1>
  <p></p>
  <p><%- linkTo('Garden & Front On', '/actions/both', {class: 'btn btn-primary btn-large'}) %></p>
</div>
