<!-- Lets talk about geddy -->
<div class="hero-unit geddy-welcome-box">
  <h1>Sprinkler</h1>
  <p></p>
<!--  <p><%- linkTo('Front Yard On', '/action/on/front', {class: 'btn btn-primary btn-large'}) %></p>
  <p><%- linkTo('Garden On', '/action/on/garden', {class: 'btn btn-primary btn-large'}) %></p> -->
  <p><%- linkTo('Garden & Front On', '/action/on/both', {class: 'btn btn-primary btn-large'}) %></p>
</div>
